In [1]:
cd ..

/Users/amlvt225/Code/GitHub/donkey_golf

In [2]:
from inspect import getsource

import donkey_golf as dg

import donkey_golf.data_things as DT

import oyaml
import pandas as pd
import logging
import psycopg2

from sqlalchemy import create_engine

from donkey_golf import config

# create logger
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

# create console handler and set level to debug
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)

# create formatter
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# add formatter to ch
ch.setFormatter(formatter)

# add ch to logger
logger.addHandler(ch)

/Users/amlvt225/Code/VirtualEnvs/venv_dgolf/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [5]:
user = DT.UserData(user_id=6)

2019-05-10 08:32:07,958 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-10 08:32:07,968 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-10 08:32:08,251 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056551
2019-05-10 08:32:08,252 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [6]:
user.run()

2019-05-10 08:32:08,534 - donkey_golf.data_things.user_data - INFO - Pulling user info
2019-05-10 08:32:08,537 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [7]:
user.data

   id username             email   image_file
0   6  ALLCAPS  allcaps@caps.com  default.jpg

In [8]:
gs = DT.GameScoreboard()

2019-05-10 08:50:16,678 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-10 08:50:16,688 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-10 08:50:16,966 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056551
2019-05-10 08:50:16,967 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [9]:
gs.run()

2019-05-10 08:50:19,741 - donkey_golf.data_things.game_scoreboard - INFO - Pulling aggregated team score for scoreboard
2019-05-10 08:50:19,745 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-10 08:50:20,036 - donkey_golf.data_things.game_scoreboard - INFO - Determining where ties exist in the donkey scoreboard
2019-05-10 08:50:20,055 - donkey_golf.data_things.game_scoreboard - INFO - Adding ties to scoreboard data

In [10]:
gs.data

   id username  donkey_score  missed_cut  player_left  rank final_rank
0  12     Jeff           -24           0            6     1          1
1  11    fleet           -23           0            6     2          2
2  10    ocean           -15           0            6     3          3
3   4       mp            -6           1            4     4          4

In [11]:
wha = DT.TeamPlayerResults()

2019-05-10 08:51:05,911 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-10 08:51:05,925 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-10 08:51:06,238 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056551
2019-05-10 08:51:06,239 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [12]:
wha.run()

2019-05-10 08:51:09,557 - donkey_golf.data_things.team_player_results - INFO - Pulling full team results by player
2019-05-10 08:51:09,558 - donkey_golf.data_things.base_class - INFO - Executing run_sql

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [14]:
wha.data.sort_values('username')

,id,username,pos,player,to_par,today,thru,r1,r2,r3,r4,tot,tourney_id,donkey_score,missed_cut,player_left,team_count,load_date
11,12,Jeff,T35,Jordan Spieth,-3,E,1,68,--,--,--,68,401056551,-3.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
1,12,Jeff,T4,Brooks Koepka,-6,-,1:40 PM,65,--,--,--,65,401056551,-6.0,0.0,1.0,4.0,2019-05-10 12:50:04.586092
7,12,Jeff,T13,Daniel Berger,-5,-,1:50 PM,66,--,--,--,66,401056551,-5.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
8,12,Jeff,T20,Henrik Stenson,-4,E,1,67,--,--,--,67,401056551,-4.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
10,12,Jeff,T35,Ryan Moore,-3,-1,1,69,--,--,--,69,401056551,-3.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
14,12,Jeff,T35,Ryan Palmer,-3,-,1:40 PM,68,--,--,--,68,401056551,-3.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
2,11,fleet,T4,Brooks Koepka,-6,-,1:40 PM,65,--,--,--,65,401056551,-6.0,0.0,1.0,4.0,2019-05-10 12:50:04.586092
16,11,fleet,T57,Aaron Wise,-2,-,1:40 PM,69,--,--,--,69,401056551,-2.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
6,11,fleet,T13,Keith Mitchell,-5,-,1:30 PM,66,--,--,--,66,401056551,-5.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
9,11,fleet,T20,Henrik Stenson,-4,E,1,67,--,--,--,67,401056551,-4.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
15,11,fleet,T35,Ryan Palmer,-3,-,1:40 PM,68,--,--,--,68,401056551,-3.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
12,11,fleet,T35,Jordan Spieth,-3,E,1,68,--,--,--,68,401056551,-3.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
18,4,mp,T80,Patrick Reed,-1,E,1,70,--,--,--,70,401056551,-1.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
17,4,mp,T57,Kevin Na,-2,-,1:40 PM,69,--,--,--,69,401056551,-2.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
0,4,mp,T4,Brooks Koepka,-6,-,1:40 PM,65,--,--,--,65,401056551,-6.0,0.0,1.0,4.0,2019-05-10 12:50:04.586092
22,4,mp,-,Charles Howell III,WD,-,WD,72,--,--,--,72,401056551,8.0,1.0,0.0,1.0,2019-05-10 12:50:04.586092
5,4,mp,T13,Keith Mitchell,-5,-,1:30 PM,66,--,--,--,66,401056551,-5.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
23,4,mp,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaT
4,10,ocean,T4,Jonas Blixt,-6,-,1:50 PM,65,--,--,--,65,401056551,-6.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
3,10,ocean,T4,Brooks Koepka,-6,-,1:40 PM,65,--,--,--,65,401056551,-6.0,0.0,1.0,4.0,2019-05-10 12:50:04.586092
19,10,ocean,T80,Patrick Reed,-1,E,1,70,--,--,--,70,401056551,-1.0,0.0,1.0,2.0,2019-05-10 12:50:04.586092
20,10,ocean,T80,Alexander Noren,-1,-,2:10 PM,70,--,--,--,70,401056551,-1.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
21,10,ocean,T125,Sam Saunders,+2,+1,3,72,--,--,--,72,401056551,2.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092
13,10,ocean,T35,Bill Haas,-3,-,1:10 PM,68,--,--,--,68,401056551,-3.0,0.0,1.0,1.0,2019-05-10 12:50:04.586092

In [ ]:
lb = DT.LoadLeaderboard()

In [ ]:
lb.run()

In [ ]:
gs = dg.data_things.GameScoreboard()

In [ ]:
int(0)

In [ ]:
gs.tourney_status

In [ ]:
gs.run()

In [ ]:
cmon = dg.data_things.LoadLeaderboard()

In [ ]:
cmon.run()

In [ ]:
lb = dg.data_things.LoadLeaderboard()

In [ ]:
lb.tourney_status

In [ ]:
lb.scrape_espn_leaderboard(lb.url_lb)

In [ ]:
lb.data

In [ ]:
lb.determine_tourney_status()

In [ ]:
lb.load_tourney_status()

In [ ]:
vamp.run()

In [ ]:
vamp.tourney_status

In [ ]:
new = dg.data_things.PullLeaderboard(user_id=10)

In [ ]:
new.tourney_status

In [ ]:
new.run()

In [ ]:
new.pull_tourney_leaderboard()

In [ ]:
new.user_df

In [ ]:
new.user_id

In [ ]:
new.pull_users_team()

In [ ]:
new.data

In [ ]:
new.pull_tourney_leaderboard()

In [ ]:
getattr(new, 'user_df')

In [ ]:
print(getsource(new.pull_tourney_leaderboard))

In [ ]:
new.user_df

In [ ]:
pd.merge(new.data, new.user_df,
        how='outer',
        on='player')

In [ ]:
new.tourney_status

In [ ]:
gs = dg.data_things.GameScoreboard()

In [ ]:
gs.tourney_status

In [ ]:
gs.run()

In [ ]:
wha = dg.data_things.LoadWorldRankings()

In [ ]:
wha = dg.data_things.TournamentInfo()

In [ ]:
wha.run()

In [ ]:
draft = dg.data_things.DraftDay()

In [ ]:
draft.run()

In [ ]:
df = draft.data

In [ ]:
for col in ['current_rank','events_played','rank']:
    self.data.loc[self.data[col].notnull(), col] = self.data.loc[self.data[col].notnull(), col].astype(int).astype(str)

In [ ]:
df

In [ ]:
draft.data['current_rank']

In [ ]:
vamp.new_determine_status()['value'][0].strip()

In [ ]:
vamp.run()

In [ ]:
vamp.load_tourney_status()

In [ ]:
vamp.load_status_sql

In [ ]:
with psycopg2.connect(vamp.conf.db_url) as conn:
    cur = conn.cursor()
    cur.execute("delete from donkey_variables where metric = 'current_tourney_status';")
    cur.execute("INSERT INTO donkey_variables VALUES ('current_tourney_status', 'pre_tourney');")
    #cur.close()

In [ ]:
conn = psycopg2.connect(host=pg_credential.hostname,
                        port=pg_credential.port,
                        user=pg_credential.username,
                        password=pg_credential.password,
                        database=pg_credential.path[1:]) # To remove slash

cursor = conn.cursor()
cursor.execute("INSERT INTO a_table (c1, c2, c3) VALUES(%s, %s, %s)", (v1, v2, v3))

In [ ]:
getattr(cmon, 'tourney_status')

In [ ]:
vamp.load_tourney_status()

In [ ]:
vamp.tourney_status

In [ ]:
pd.read_sql("INSERT INTO donkey_variables VALUES ('current_tourney_status', 'pre_tourney');")

In [ ]:
cmon = dg.data_things.PullLeaderboard(user_id=5)

In [ ]:
cmon.run()

In [ ]:
cmon.tourney_status

In [ ]:
cmon.pull_tourney_leaderboard()

In [ ]:
if cmon.data.empty:
    print("EMPTY")

In [ ]:
cmon.tourney_status

In [ ]:
getattr(cmon, 'tourney_status')

In [ ]:
getattr(cmon, 'tourney_statusss', 'whoops')

In [ ]:
sb = dg.data_things.GameScoreboard()

In [ ]:
sb.run()

In [ ]:
vamp.golfer_count_by_team

In [ ]:
df = vamp.data

In [ ]:
df.head(2)

In [ ]:
df.loc[df['team_count']> 0]

In [ ]:
huh = dg.data_things.PullLeaderboard(user_id=6)

In [ ]:
huh.run()

In [ ]:
huh.data['team_count'].value_counts()

In [ ]:
df_tourney = huh.data
df_tourney = df_tourney.loc[df_tourney['team_count'] > 0]

In [ ]:
from datetime import datetime

In [ ]:
datetime.today()

In [ ]:
df_tourney

In [ ]:
ada = dg.data_things.PullLeaderboard(user_id=5)

In [ ]:
ada.pull_tourney_leaderboard()

In [ ]:
ada.data.team_count.value_counts()

In [ ]:
ada.calc_refresh_date()

In [ ]:
ada.determine_tourney_status()

In [ ]:
ada.pull_users_team()

In [ ]:
ada.user_df

In [ ]:
ada.sql_user