In [1]:
cd ..

/Users/amlvt225/Code/GitHub/donkey_golf

In [2]:
from inspect import getsource

import donkey_golf as dg

import donkey_golf.data_things as DT

import oyaml
import pandas as pd
import logging
import psycopg2

from sqlalchemy import create_engine

from donkey_golf import config

# create logger
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

# create console handler and set level to debug
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)

# create formatter
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# add formatter to ch
ch.setFormatter(formatter)

# add ch to logger
logger.addHandler(ch)

/Users/amlvt225/Code/VirtualEnvs/venv_dgolf/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [ ]:
gs = DT.GameScoreboard()

In [ ]:
gs.run()

In [ ]:
gs.data

In [9]:
lb = DT.PullLeaderboard(user_id=6)

2019-05-16 08:34:27,985 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-16 08:34:27,998 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-16 08:34:28,294 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056552
2019-05-16 08:34:28,295 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [10]:
lb.tourney_status

'in_progress'

In [11]:
lb.run()

2019-05-16 08:34:29,394 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-16 08:34:29,751 - donkey_golf.data_things.tourney_leaderboard - INFO - Pulling users active tourney team
2019-05-16 08:34:29,753 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-16 08:34:30,061 - donkey_golf.data_things.tourney_leaderboard - INFO - Determing data refresh times

In [12]:
lb.data

,pos,player,to_par,today,thru,r1,r2,r3,r4,tot,tourney_id,donkey_score,missed_cut,player_left,team_count,load_date
0,T1,J.J. Spaun,-1,-1,7,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
1,T1,Sam Burns,-1,-1,6,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
2,T1,Keith Mitchell,-1,-1,6,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
3,T1,Harold Varner III,-1,-1,4,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
4,T1,Erik van Rooyen,-1,-1,3,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
5,T1,Jimmy Walker,-1,-1,3,--,--,--,--,--,401056552,-1,0,1,1,2019-05-16 08:34:16.724508
6,T1,Chez Reavie,-1,-1,2,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
7,T1,Shaun Norris,-1,-1,1,--,--,--,--,--,401056552,-1,0,1,0,2019-05-16 08:34:16.724508
8,T9,Patton Kizzire,E,E,5,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
9,T9,Jason Caron,E,E,5,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
10,T9,Byeong-Hun An,E,E,5,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
11,T9,Henrik Stenson,E,E,3,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
12,T9,Mike Lorenzo-Vera,E,E,3,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
13,T9,Shane Lowry,E,E,2,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
14,T9,Kelly Kraft,E,E,2,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
15,T9,Graeme McDowell,E,E,2,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
16,T9,Charley Hoffman,E,E,2,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
17,T9,Tyrrell Hatton,E,E,1,--,--,--,--,--,401056552,0,0,1,1,2019-05-16 08:34:16.724508
18,T9,Li Haotong,E,E,1,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
19,T9,Bubba Watson,E,E,1,--,--,--,--,--,401056552,0,0,1,2,2019-05-16 08:34:16.724508
20,T9,Charles Howell III,E,E,1,--,--,--,--,--,401056552,0,0,1,0,2019-05-16 08:34:16.724508
21,T22,Scott Piercy,+1,+1,6,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
22,T22,Ben Cook,+1,+1,6,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
23,T22,Adam Hadwin,+1,+1,5,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
24,T22,Max Homa,+1,+1,5,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
25,T22,Brandt Snedeker,+1,+1,5,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
26,T22,John O'Leary,+1,+1,4,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
27,T22,Kyle Stanley,+1,+1,4,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
28,T22,Justin Harding,+1,+1,3,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
29,T22,Richy Werenski,+1,+1,3,--,--,--,--,--,401056552,1,0,1,0,2019-05-16 08:34:16.724508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,-,Jason Day,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,6,2019-05-16 08:34:16.724508
127,-,Rory McIlroy,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,2,2019-05-16 08:34:16.724508
128,-,Phil Mickelson,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,3,2019-05-16 08:34:16.724508
129,-,Danny Willett,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
130,-,Webb Simpson,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,1,2019-05-16 08:34:16.724508
131,-,Zach Johnson,E,-,1:38 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
132,-,Matt Kuchar,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,4,2019-05-16 08:34:16.724508
133,-,Satoshi Kodaira,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
134,-,Cameron Smith,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
135,-,Bronson Burgoon,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
136,-,Kevin Tway,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
137,-,Brandon Stone,E,-,1:49 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
138,-,Corey Conners,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
139,-,Marc Leishman,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,2,2019-05-16 08:34:16.724508
140,-,Jim Furyk,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
141,-,Danny Balin,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
142,-,Si Woo Kim,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
143,-,Tom Lewis,E,-,2:00 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
144,-,Stuart Deane,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
145,-,Chesson Hadley,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
146,-,Jorge Campillo,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
147,-,Tyler Hall,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
148,-,Michael Kim,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
149,-,Jazz Janewattananond,E,-,2:11 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
150,-,Kurt Kitayama,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
151,-,Dylan Frittelli,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
152,-,Andrew Filbert,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
153,-,Mikko Korhonen,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
154,-,Craig Hocknull,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508
155,-,Jhonattan Vegas,E,-,2:22 PM,--,--,--,--,--,401056552,0,0,0,0,2019-05-16 08:34:16.724508

In [7]:
loader = DT.LoadLeaderboard()

2019-05-16 08:34:11,019 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-16 08:34:11,035 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-16 08:34:11,376 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056552
2019-05-16 08:34:11,377 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [8]:
loader.run()

2019-05-16 08:34:16,400 - donkey_golf.data_things.tourney_leaderboard - INFO - Tourney current status: in_progress
2019-05-16 08:34:16,401 - donkey_golf.data_things.tourney_leaderboard - INFO - Running clean_data function
2019-05-16 08:34:16,401 - donkey_golf.data_things.tourney_leaderboard - INFO - Running prepare_in_progress_data
2019-05-16 08:34:16,402 - donkey_golf.data_things.tourney_leaderboard - INFO - Calculating the donkey_score column
2019-05-16 08:34:16,414 - donkey_golf.data_things.tourney_leaderboard - INFO - Determining score for cut players and adding missed_cut indicator
2019-05-16 08:34:16,422 - donkey_golf.data_things.tourney_leaderboard - INFO - Determine if the player is active and if he has been cut or not
2019-05-16 08:34:16,435 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-16 08:34:16,712 - donkey_golf.data_things.tourney_leaderboard - DEBUG - Adding golfer team count
2019-05-16 08:34:16,727 - donkey_golf.data_things.tourney_leaderboard - INFO - Loading data into the leaderboard table
2019-05-16 08:34:16,728 - donkey_golf.data_things.base_class - INFO - Loading leaderboard to database

In [ ]:
self.data.loc[self.data['today'] == '-', 'player_left'] = 0

In [ ]:
lb.pull_pre_tourney_data()

In [ ]:
lb.df_pre_tourney['current_rank'] = lb.df_pre_tourney['current_rank'].fillna(9999).astype(int).astype(str)

lb.df_pre_tourney['current_rank'] = lb.df_pre_tourney['current_rank'].replace('9999', '-')

In [ ]:
lb.df_pre_tourney

In [ ]:
dd = DT.DraftDay()

In [ ]:
dd.run()

In [ ]:
df = dd.data

In [ ]:
# top 8 pick 2
# next 12 pick 3
#

In [ ]:
df

In [ ]:
df['rank'] = df['rank'].fillna(999)
df['rank'] = df['rank'].astype(int)
df['tier'] = 'Tier 3'
df.loc[df['rank'] <= 8, 'tier'] = 'Tier 1'
df.loc[(df['rank'] >= 9) & (df['rank'] <= 16), 'tier'] = 'Tier 2'

In [ ]:
df

In [ ]:
lb.df_pre_tourney.loc[lb.df_pre_tourney['current_rank'].notnull(), 'current_rank'] = lb.df_pre_tourney.loc[lb.df_pre_tourney['current_rank'].notnull(), 'current_rank'].astype(int)

In [ ]:
lb.df_pre_tourney.loc[lb.df_pre_tourney['current_rank'].notnull(), 'current_rank'].astype(int)

In [ ]:
lb.df_pre_tourney

In [ ]:
DT.LoadWorldRankings().run()

In [ ]:
DT.TournamentInfo().run()

In [ ]:
lb.run()

In [ ]:
lb.data

In [ ]:
lb.determine_current_round()

In [ ]:
lb.calculate_cut_line()

In [ ]:
df = lb.data

In [ ]:
self = lb

In [ ]:
cur_round = self.determine_current_round()

if cur_round == 'r2':
    sql = self.yaml_sql_dict.get('calculate_cut_line')
    df = self.run_sql(sql)
    # Grab the cut_str
    cut_str = df['pos'][0].lower()
    cut_dict = {}

    # Not sure what will happen if cut is even...
    if cut_str[-1:] == 'E':
        cut_dict['cut_str'] = 'E'
        cut_dict['cut_in'] = 0
    else:
        # Just grab the last two characters - this should be the cut score
        cut_str = cut_str[-2:]
        # Put both string and int representations into a dict
        cut_dict['cut_str'] = cut_str
        cut_dict['cut_int'] = int(cut_str.replace('+', '').replace('E', '0'))

    return cut_dict
else:
    logger.info("Dont need to worry about the cut line now")
    return None

In [ ]:
df

In [ ]:
print(sql)

In [ ]:
sql = self.yaml_sql_dict.get('calculate_cut_line')
df = self.run_sql(sql)
# Grab the cut_str
cut_str = df['pos'][0].lower()
cut_dict = {}

In [ ]:
user = DT.UserData(user_id=6)

In [ ]:
user.run()

In [ ]:
user.data

In [ ]:
gs = DT.GameScoreboard()

In [ ]:
gs.run()

In [ ]:
gs.data

In [ ]:
wha = DT.TeamPlayerResults()

In [ ]:
wha.run()

In [ ]:
wha.data.sort_values('username')

In [ ]:
lb = DT.LoadLeaderboard()

In [ ]:
lb.run()

In [ ]:
gs = dg.data_things.GameScoreboard()

In [ ]:
int(0)

In [ ]:
gs.tourney_status

In [ ]:
gs.run()

In [ ]:
cmon = dg.data_things.LoadLeaderboard()

In [ ]:
cmon.run()

In [ ]:
lb = dg.data_things.LoadLeaderboard()

In [ ]:
lb.tourney_status

In [ ]:
lb.scrape_espn_leaderboard(lb.url_lb)

In [ ]:
lb.data

In [ ]:
lb.determine_tourney_status()

In [ ]:
lb.load_tourney_status()

In [ ]:
vamp.run()

In [ ]:
vamp.tourney_status

In [ ]:
new = dg.data_things.PullLeaderboard(user_id=10)

In [ ]:
new.tourney_status

In [ ]:
new.run()

In [ ]:
new.pull_tourney_leaderboard()

In [ ]:
new.user_df

In [ ]:
new.user_id

In [ ]:
new.pull_users_team()

In [ ]:
new.data

In [ ]:
new.pull_tourney_leaderboard()

In [ ]:
getattr(new, 'user_df')

In [ ]:
print(getsource(new.pull_tourney_leaderboard))

In [ ]:
new.user_df

In [ ]:
pd.merge(new.data, new.user_df,
        how='outer',
        on='player')

In [ ]:
new.tourney_status

In [ ]:
gs = dg.data_things.GameScoreboard()

In [ ]:
gs.tourney_status

In [ ]:
gs.run()

In [ ]:
wha = dg.data_things.LoadWorldRankings()

In [ ]:
wha = dg.data_things.TournamentInfo()

In [ ]:
wha.run()

In [ ]:
draft = dg.data_things.DraftDay()

In [ ]:
draft.run()

In [ ]:
df = draft.data

In [ ]:
for col in ['current_rank','events_played','rank']:
    self.data.loc[self.data[col].notnull(), col] = self.data.loc[self.data[col].notnull(), col].astype(int).astype(str)

In [ ]:
df

In [ ]:
draft.data['current_rank']

In [ ]:
vamp.new_determine_status()['value'][0].strip()

In [ ]:
vamp.run()

In [ ]:
vamp.load_tourney_status()

In [ ]:
vamp.load_status_sql

In [ ]:
with psycopg2.connect(vamp.conf.db_url) as conn:
    cur = conn.cursor()
    cur.execute("delete from donkey_variables where metric = 'current_tourney_status';")
    cur.execute("INSERT INTO donkey_variables VALUES ('current_tourney_status', 'pre_tourney');")
    #cur.close()

In [ ]:
conn = psycopg2.connect(host=pg_credential.hostname,
                        port=pg_credential.port,
                        user=pg_credential.username,
                        password=pg_credential.password,
                        database=pg_credential.path[1:]) # To remove slash

cursor = conn.cursor()
cursor.execute("INSERT INTO a_table (c1, c2, c3) VALUES(%s, %s, %s)", (v1, v2, v3))

In [ ]:
getattr(cmon, 'tourney_status')

In [ ]:
vamp.load_tourney_status()

In [ ]:
vamp.tourney_status

In [ ]:
pd.read_sql("INSERT INTO donkey_variables VALUES ('current_tourney_status', 'pre_tourney');")

In [ ]:
cmon = dg.data_things.PullLeaderboard(user_id=5)

In [ ]:
cmon.run()

In [ ]:
cmon.tourney_status

In [ ]:
cmon.pull_tourney_leaderboard()

In [ ]:
if cmon.data.empty:
    print("EMPTY")

In [ ]:
cmon.tourney_status

In [ ]:
getattr(cmon, 'tourney_status')

In [ ]:
getattr(cmon, 'tourney_statusss', 'whoops')

In [ ]:
sb = dg.data_things.GameScoreboard()

In [ ]:
sb.run()

In [ ]:
vamp.golfer_count_by_team

In [ ]:
df = vamp.data

In [ ]:
df.head(2)

In [ ]:
df.loc[df['team_count']> 0]

In [ ]:
huh = dg.data_things.PullLeaderboard(user_id=6)

In [ ]:
huh.run()

In [ ]:
huh.data['team_count'].value_counts()

In [ ]:
df_tourney = huh.data
df_tourney = df_tourney.loc[df_tourney['team_count'] > 0]

In [ ]:
from datetime import datetime

In [ ]:
datetime.today()

In [ ]:
df_tourney

In [ ]:
ada = dg.data_things.PullLeaderboard(user_id=5)

In [ ]:
ada.pull_tourney_leaderboard()

In [ ]:
ada.data.team_count.value_counts()

In [ ]:
ada.calc_refresh_date()

In [ ]:
ada.determine_tourney_status()

In [ ]:
ada.pull_users_team()

In [ ]:
ada.user_df

In [ ]:
ada.sql_user