In [1]:
cd ..

/Users/amlvt225/Code/GitHub/donkey_golf

In [2]:
ls

README.md          jupyter_notebooks/ run.py
donkey_golf/       requirements.txt

In [3]:
import donkey_golf as dg

/Users/amlvt225/Code/VirtualEnvs/venv_dgolf/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
import oyaml
import pandas as pd
import logging
import psycopg2

from sqlalchemy import create_engine

from donkey_golf import config

# create logger
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

# create console handler and set level to debug
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)

# create formatter
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# add formatter to ch
ch.setFormatter(formatter)

# add ch to logger
logger.addHandler(ch)

In [5]:
vamp = dg.data_things.LoadLeaderboard()

2019-05-05 15:48:42,474 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-05 15:48:42,489 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-05 15:48:42,754 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056550

In [6]:
vamp.run()

2019-05-05 15:48:46,061 - donkey_golf.data_things.tourney_leaderboard - INFO - Tourney current status: in_progress
2019-05-05 15:48:46,062 - donkey_golf.data_things.tourney_leaderboard - INFO - Running clean_data function
2019-05-05 15:48:46,063 - donkey_golf.data_things.tourney_leaderboard - INFO - Running prepare_in_progress_data
2019-05-05 15:48:46,064 - donkey_golf.data_things.tourney_leaderboard - INFO - Calculating the donkey_score column
2019-05-05 15:48:46,082 - donkey_golf.data_things.tourney_leaderboard - INFO - Determining score for cut players and adding missed_cut indicator
2019-05-05 15:48:46,100 - donkey_golf.data_things.tourney_leaderboard - INFO - Determine if the player is active and if he has been cut or not
2019-05-05 15:48:46,115 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-05 15:48:46,472 - donkey_golf.data_things.tourney_leaderboard - DEBUG - Adding golfer team count
2019-05-05 15:48:46,481 - donkey_golf.data_things.tourney_leaderboard - INFO - Loading data into the leaderboard table
2019-05-05 15:48:46,482 - donkey_golf.data_things.base_class - INFO - Loading leaderboard to database

In [7]:
vamp.golfer_count_by_team

           player  team_count
0   Rickie Fowler           2
1  Henrik Stenson           2
2    Kyle Stanley           1
3  Keegan Bradley           1
4   Cameron Champ           1
5      Tony Finau           1
6    Rory McIlroy           1
7    Zach Johnson           1
8       Jason Day           1
9  Phil Mickelson           1

In [9]:
df = vamp.data

In [10]:
df.head(2)

,pos,player,to_par,today,thru,r1,r2,r3,r4,tot,tourney_id,donkey_score,missed_cut,player_left,team_count,load_date
0,T1,Joel Dahmen,-13,-2,8,66,66,70,--,202,401056550,-13,0,1,0,2019-05-05 15:48:46.480659
1,T1,Max Homa,-13,-2,7,69,63,70,--,202,401056550,-13,0,1,0,2019-05-05 15:48:46.480659

In [11]:
df.loc[df['team_count']> 0]

,pos,player,to_par,today,thru,r1,r2,r3,r4,tot,tourney_id,donkey_score,missed_cut,player_left,team_count,load_date
6,T6,Rory McIlroy,-8,+1,9,66,70,68,--,204,401056550,-8,0,1,1,2019-05-05 15:48:46.480659
8,T8,Kyle Stanley,-7,-3,14,69,69,71,--,209,401056550,-7,0,1,1,2019-05-05 15:48:46.480659
11,T8,Rickie Fowler,-7,-1,10,71,70,66,--,207,401056550,-7,0,1,2,2019-05-05 15:48:46.480659
23,T23,Jason Day,-4,-2,F,68,69,74,69,280,401056550,-4,0,0,1,2019-05-05 15:48:46.480659
26,T27,Henrik Stenson,-3,-1,F,74,67,70,70,281,401056550,-3,0,0,2,2019-05-05 15:48:46.480659
60,T60,Tony Finau,+3,+3,F,72,69,72,74,287,401056550,3,0,0,1,2019-05-05 15:48:46.480659
79,-,Keegan Bradley,CUT,-,CUT,70,74,--,--,144,401056550,14,1,0,1,2019-05-05 15:48:46.480659
81,-,Zach Johnson,CUT,-,CUT,70,74,--,--,144,401056550,14,1,0,1,2019-05-05 15:48:46.480659
82,-,Cameron Champ,CUT,-,CUT,72,73,--,--,145,401056550,14,1,0,1,2019-05-05 15:48:46.480659
120,-,Phil Mickelson,CUT,-,CUT,71,76,--,--,147,401056550,14,1,0,1,2019-05-05 15:48:46.480659

In [12]:
huh = dg.data_things.PullLeaderboard(user_id=6)

2019-05-05 15:50:18,516 - donkey_golf.data_things.base_class - DEBUG - ABOUT TO SET yaml_sql_dict
2019-05-05 15:50:18,528 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-05 15:50:18,775 - donkey_golf.data_things.base_class - INFO - Current tourney ID: 401056550

In [13]:
huh.run()

2019-05-05 15:50:19,383 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-05 15:50:19,679 - donkey_golf.data_things.tourney_leaderboard - INFO - Tourney current status: in_progress
2019-05-05 15:50:19,680 - donkey_golf.data_things.tourney_leaderboard - INFO - Pulling users active tourney team
2019-05-05 15:50:19,681 - donkey_golf.data_things.base_class - INFO - Executing run_sql
2019-05-05 15:50:19,949 - donkey_golf.data_things.tourney_leaderboard - INFO - Determing data refresh times
2019-05-05 15:50:19,950 - donkey_golf.data_things.tourney_leaderboard - INFO - Tourney current status: in_progress
2019-05-05 15:50:19,952 - donkey_golf.data_things.tourney_leaderboard - INFO - Pulling users active tourney team
2019-05-05 15:50:19,953 - donkey_golf.data_things.base_class - INFO - Executing run_sql

In [15]:
huh.data['team_count'].value_counts()

0    147
1      8
2      2
Name: team_count, dtype: int64

In [ ]:
df_tourney = huh.data
df_tourney = df_tourney.loc[df_tourney['team_count'] > 0]

In [ ]:
df_tourney

In [ ]:
ada = dg.data_things.PullLeaderboard(user_id=5)

In [ ]:
ada.pull_tourney_leaderboard()

In [ ]:
ada.data.team_count.value_counts()

In [ ]:
ada.calc_refresh_date()

In [ ]:
ada.determine_tourney_status()

In [ ]:
ada.pull_users_team()

In [ ]:
ada.user_df

In [ ]:
ada.sql_user