In [1]:
import sqlite3
import pandas as pd

In [2]:
cd ..

/home/greenman225/Code/github/donkey_golf

In [3]:
from donkey_golf import data_utils as du

/home/greenman225/Code/virtual_envs/donkey_env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
du.pull_scoreboard()

   id username  user_score  rank final_rank
0   7    tiger         -28     1         T1
1   9     donk         -28     1         T1
2   6     jeff          -3     3          3
3   4      poo           7     4          4
4   5     mike           9     5          5

In [ ]:
du.pull_tourney_leaderboard(6)

In [ ]:
du.scrape_espn_leaderboard()

In [ ]:
du.data_load_leaderboard()

In [ ]:
user_df = du.users_team(5)

In [ ]:
df = du.pull_tourney_leaderboard()

In [ ]:
df.head()

In [ ]:
user_df.head()

In [ ]:
final_df = df.merge(user_df[['golfer']],
        how='left',
        left_on=['player'],
        right_on=['golfer'])
final_df.loc[final_df['golfer'].notnull(), 'on_team'] = 'Yes'

In [ ]:
final_df.loc[final_df['golfer'].notnull()]

In [ ]:
final_df.head()

In [ ]:
final_df

In [ ]:
du.scrape_espn_leaderboard()['in']

In [ ]:
random_dict = {'pre_t':'yup'}

In [ ]:
if 'pre_t' in random_dict.keys():
    print('yas')

In [ ]:
du.users_team(4)

In [ ]:
du.player_map

In [ ]:
du.pull_available_players()

In [ ]:
df = du.scrape_world_rankings_data()

In [ ]:
du.data_load_rankings()

In [ ]:
df.loc[df['player'].str.contains('Kim')]

In [ ]:
du.pull_available_players()

In [ ]:
	name
0	user
1	pre_tourney
2	rankings

In [ ]:
du.run_sql("SELECT * FROM rankings WHERE player LIKE ('%Kim%')")

In [ ]:
du.run_sql('SELECT * FROM pre_tourney LIMIT 5')

In [ ]:
def pull_
sql = '''SELECT a.*, b.current_rank, b.events_played FROM pre_tourney a
LEFT JOIN rankings b ON a.player=b.player
ORDER BY current_rank
'''
du.run_sql(sql)

In [ ]:
du.run_sql('SELECT * ')

In [ ]:
du.data_load_rankings()

In [ ]:
import data_utils as du

In [ ]:
du.pull_available_players()

In [ ]:
du.data_load_leaderboard()

In [ ]:
du.data_load_rankings()

In [ ]:
du.run_sql('SELECT * FROM pre_tourney')

In [ ]:
result = du.scrape_espn_leaderboard()

In [ ]:
du.load_table_to_db(result.get('pre_tourney'), 'pre_tourney')

In [ ]:
result.get('pre_tourney')

In [ ]:
# Creating leaderboard & rankings dataframes
leaderboard = pd.read_html('http://www.espn.com/golf/leaderboard',header=3)[0]

leaderboard.columns = leaderboard.columns.str.lower().str.replace(' ','_')

if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')

In [ ]:
pwd

In [ ]:
du.scrape_espn_leaderboard()

In [ ]:
du.data_load_leaderboard()

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)