In [1]:
import sqlite3
import pandas as pd

In [2]:
cd ..

/home/greenman225/Code/github/donkey_golf

In [3]:
from donkey_golf import data_utils as du

/home/greenman225/Code/virtual_envs/donkey_env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '
/home/greenman225/Code/github/donkey_golf/donkey_golf/data_utils.py:27: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_sql_dict = oyaml.load(open(conf.yaml_sql_loc))

In [5]:
df = du.pull_tourney_leaderboard(6)

In [7]:
for i, row in df.iterrows():
    if row['pos'].lower().startswith('projected'):
        print(row['pos'])

Projected Cut +4

In [34]:
def calculate_cut_line():
    df = du.run_sql("SELECT pos FROM leaderboard WHERE pos LIKE ('%projected%') LIMIT 1")

    # Grab the cut_str
    cut_str = df['pos'][0].lower()

    # Get rid of unneeded string
    cut_str = cut_str.replace('projected cut ','')

    # Put both string and int representations into a dict
    cut_dict = {}
    cut_dict['cut_str'] = cut_str
    cut_dict['cut_int'] = int(cut_str.replace('+', '').replace('E', '0'))
    
    return cut_dict

In [35]:
calculate_cut_line()

{'cut_str': '+4', 'cut_int': 4}

In [33]:
cut_dict

{'cut_str': '+4', 'cut_int': 4}

In [6]:
du.aggregate_team_score()

   id username  user_score  rank
3   7    tiger         -28     1
4   9     donk         -28     1
2   6     jeff          -3     3
0   4      poo           7     4
1   5     mike           9     5

In [4]:
du.users_team(6)

,id,tourney_id,golfer,pos,player,to_par,thru,r1,r2,r3,r4,total_strokes,tourney_id
0,6,401056527,Dustin Johnson,T4,Dustin Johnson,-4,F,68,--,--,--,68,401056527
1,6,401056527,Jason Day,T11,Jason Day,-2,F,70,--,--,--,70,401056527
2,6,401056527,Justin Rose,T63,Justin Rose,+3,F,75,--,--,--,75,401056527
3,6,401056527,Rory McIlroy,T44,Rory McIlroy,+1,F,73,--,--,--,73,401056527
4,6,401056527,Si Woo Kim,T29,Si Woo Kim,E,F,72,--,--,--,72,401056527
5,6,401056527,Tommy Fleetwood,T21,Tommy Fleetwood,-1,F,71,--,--,--,71,401056527

In [5]:
du.pull_tourney_leaderboard(6)

,pos,player,to_par,thru,r1,r2,r3,r4,total_strokes,tourney_id,golfer,on_team
0,T1,Bryson DeChambeau,-6,F,66,--,--,--,66,401056527,NaN,NaN
1,T1,Brooks Koepka,-6,F,66,--,--,--,66,401056527,NaN,NaN
2,3,Phil Mickelson,-5,F,67,--,--,--,67,401056527,NaN,NaN
3,T4,Ian Poulter,-4,F,68,--,--,--,68,401056527,NaN,NaN
4,T4,Dustin Johnson,-4,F,68,--,--,--,68,401056527,Dustin Johnson,Yes
5,T6,Justin Harding,-3,F,69,--,--,--,69,401056527,NaN,NaN
6,T6,Adam Scott,-3,F,69,--,--,--,69,401056527,NaN,NaN
7,T6,Jon Rahm,-3,F,69,--,--,--,69,401056527,NaN,NaN
8,T6,Kiradech Aphibarnrat,-3,F,69,--,--,--,69,401056527,NaN,NaN
9,T6,Kevin Kisner,-3,F,69,--,--,--,69,401056527,NaN,NaN
10,T11,Corey Conners,-2,F,70,--,--,--,70,401056527,NaN,NaN
11,T11,J.B. Holmes,-2,F,70,--,--,--,70,401056527,NaN,NaN
12,T11,Lucas Bjerregaard,-2,F,70,--,--,--,70,401056527,NaN,NaN
13,T11,Gary Woodland,-2,F,70,--,--,--,70,401056527,NaN,NaN
14,T11,Tiger Woods,-2,F,70,--,--,--,70,401056527,NaN,NaN
15,T11,Rickie Fowler,-2,F,70,--,--,--,70,401056527,NaN,NaN
16,T11,Cameron Smith,-2,F,70,--,--,--,70,401056527,NaN,NaN
17,T11,Patton Kizzire,-2,F,70,--,--,--,70,401056527,NaN,NaN
18,T11,Francesco Molinari,-2,F,70,--,--,--,70,401056527,NaN,NaN
19,T11,Jason Day,-2,F,70,--,--,--,70,401056527,Jason Day,Yes
20,T21,Tony Finau,-1,F,71,--,--,--,71,401056527,NaN,NaN
21,T21,Louis Oosthuizen,-1,F,71,--,--,--,71,401056527,NaN,NaN
22,T21,Charley Hoffman,-1,F,71,--,--,--,71,401056527,NaN,NaN
23,T21,Tommy Fleetwood,-1,F,71,--,--,--,71,401056527,Tommy Fleetwood,Yes
24,T21,Thorbjorn Olesen,-1,F,71,--,--,--,71,401056527,NaN,NaN
25,T21,Kevin Na,-1,F,71,--,--,--,71,401056527,NaN,NaN
26,T21,Bernhard Langer,-1,F,71,--,--,--,71,401056527,NaN,NaN
27,T21,Matt Kuchar,-1,F,71,--,--,--,71,401056527,NaN,NaN
28,T29,Andrew Landry,E,F,72,--,--,--,72,401056527,NaN,NaN
29,T29,Kevin Tway,E,F,72,--,--,--,72,401056527,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
57,T58,Eddie Pepperell,+2,F,74,--,--,--,74,401056527,NaN,NaN
58,T58,Henrik Stenson,+2,F,74,--,--,--,74,401056527,NaN,NaN
59,T58,Trevor Immelman,+2,F,74,--,--,--,74,401056527,NaN,NaN
60,T58,Devon Bling (a),+2,F,74,--,--,--,74,401056527,NaN,NaN
61,T58,Zach Johnson,+2,F,74,--,--,--,74,401056527,NaN,NaN
62,T63,Adam Long,+3,F,75,--,--,--,75,401056527,NaN,NaN
63,T63,Aaron Wise,+3,F,75,--,--,--,75,401056527,NaN,NaN
64,T63,Danny Willett,+3,F,75,--,--,--,75,401056527,NaN,NaN
65,T63,Brandt Snedeker,+3,F,75,--,--,--,75,401056527,NaN,NaN
66,T63,Hideki Matsuyama,+3,F,75,--,--,--,75,401056527,NaN,NaN
67,T63,Matt Wallace,+3,F,75,--,--,--,75,401056527,NaN,NaN
68,T63,Alexander Noren,+3,F,75,--,--,--,75,401056527,NaN,NaN
69,T63,Satoshi Kodaira,+3,F,75,--,--,--,75,401056527,NaN,NaN
70,T63,Justin Rose,+3,F,75,--,--,--,75,401056527,Justin Rose,Yes
71,T63,Jordan Spieth,+3,F,75,--,--,--,75,401056527,NaN,NaN
72,T73,Michael Kim,+4,F,76,--,--,--,76,401056527,NaN,NaN
73,T73,Stewart Cink,+4,F,76,--,--,--,76,401056527,NaN,NaN
74,T73,Keegan Bradley,+4,F,76,--,--,--,76,401056527,NaN,NaN
75,T73,Shugo Imahira,+4,F,76,--,--,--,76,401056527,NaN,NaN
76,T77,Kevin O'Connell (a),+5,F,77,--,--,--,77,401056527,NaN,NaN
77,T77,Charl Schwartzel,+5,F,77,--,--,--,77,401056527,NaN,NaN
78,T77,Larry Mize,+5,F,77,--,--,--,77,401056527,NaN,NaN
79,T80,Shane Lowry,+6,F,78,--,--,--,78,401056527,NaN,NaN
80,T80,Fred Couples,+6,F,78,--,--,--,78,401056527,NaN,NaN
81,T80,Jose Maria Olazabal,+6,F,78,--,--,--,78,401056527,NaN,NaN
82,T80,Matthew Fitzpatrick,+6,F,78,--,--,--,78,401056527,NaN,NaN
83,T84,Ian Woosnam,+8,F,80,--,--,--,80,401056527,NaN,NaN
84,T84,Vijay Singh,+8,F,80,--,--,--,80,401056527,NaN,NaN
85,86,Paul Casey,+9,F,81,--,--,--,81,401056527,NaN,NaN
86,87,Angel Cabrera,+10,F,82,--,--,--,82,401056527,NaN,NaN

In [ ]:
with sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db') as db:
    print(pd.read_sql('SELECT * FROM teams', db))

In [ ]:
du.pull_available_players()

In [ ]:
du.pull_scoreboard()

In [ ]:
du.pull_tourney_leaderboard(6)

In [ ]:
du.scrape_espn_leaderboard()

In [ ]:
du.data_load_leaderboard()

In [ ]:
user_df = du.users_team(5)

In [ ]:
df = du.pull_tourney_leaderboard()

In [ ]:
df.head()

In [ ]:
user_df.head()

In [ ]:
final_df = df.merge(user_df[['golfer']],
        how='left',
        left_on=['player'],
        right_on=['golfer'])
final_df.loc[final_df['golfer'].notnull(), 'on_team'] = 'Yes'

In [ ]:
final_df.loc[final_df['golfer'].notnull()]

In [ ]:
final_df.head()

In [ ]:
final_df

In [ ]:
du.scrape_espn_leaderboard()['in']

In [ ]:
random_dict = {'pre_t':'yup'}

In [ ]:
if 'pre_t' in random_dict.keys():
    print('yas')

In [ ]:
du.users_team(4)

In [ ]:
du.player_map

In [ ]:
du.pull_available_players()

In [ ]:
df = du.scrape_world_rankings_data()

In [ ]:
du.data_load_rankings()

In [ ]:
df.loc[df['player'].str.contains('Kim')]

In [ ]:
du.pull_available_players()

In [ ]:
	name
0	user
1	pre_tourney
2	rankings

In [ ]:
du.run_sql("SELECT * FROM rankings WHERE player LIKE ('%Kim%')")

In [ ]:
du.run_sql('SELECT * FROM pre_tourney LIMIT 5')

In [ ]:
def pull_
sql = '''SELECT a.*, b.current_rank, b.events_played FROM pre_tourney a
LEFT JOIN rankings b ON a.player=b.player
ORDER BY current_rank
'''
du.run_sql(sql)

In [ ]:
du.run_sql('SELECT * ')

In [ ]:
du.data_load_rankings()

In [ ]:
import data_utils as du

In [ ]:
du.pull_available_players()

In [ ]:
du.data_load_leaderboard()

In [ ]:
du.data_load_rankings()

In [ ]:
du.run_sql('SELECT * FROM pre_tourney')

In [ ]:
result = du.scrape_espn_leaderboard()

In [ ]:
du.load_table_to_db(result.get('pre_tourney'), 'pre_tourney')

In [ ]:
result.get('pre_tourney')

In [ ]:
# Creating leaderboard & rankings dataframes
leaderboard = pd.read_html('http://www.espn.com/golf/leaderboard',header=3)[0]

leaderboard.columns = leaderboard.columns.str.lower().str.replace(' ','_')

if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')

In [ ]:
pwd

In [ ]:
du.scrape_espn_leaderboard()

In [ ]:
du.data_load_leaderboard()

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)