In [1]:
import sqlite3
import pandas as pd

In [2]:
cd ..

/home/greenman225/Code/github/donkey_golf

In [3]:
from donkey_golf import data_utils as du

/home/greenman225/Code/virtual_envs/donkey_env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '
/home/greenman225/Code/github/donkey_golf/donkey_golf/data_utils.py:27: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_sql_dict = oyaml.load(open(conf.yaml_sql_loc))

In [4]:
du.pull_scoreboard()

   id username  donkey_score  rank final_rank
0   7    tiger           -48     1         T1
1   9     donk           -48     1         T1
2   6     jeff           -26     3          3
3   4      poo           -18     4          4
4   5     mike           -13     5          5

In [ ]:
du.data_load_leaderboard()

In [ ]:
df = du.scrape_espn_leaderboard()['tourney_final']

In [ ]:
df.loc[df['to_par'] == 'E', 'donkey_score'] = 0
df.loc[df['to_par'].str[0:1] == '+', 'donkey_score'] = df['to_par'].str[1:]
df.loc[df['to_par'].str[0:1] == '-', 'donkey_score'] = df['to_par']

In [ ]:
df

In [ ]:
score = df.loc[df['donkey_score'].notnull(), 'donkey_score'].astype(int).max()

In [ ]:
score

In [ ]:
df.loc[df['donkey_score'].isnull(), 'donkey_score']

In [ ]:
df['donkey_score'].fillna(-999).astype(int).max()

In [ ]:
df['to_par'].str[:1]

In [ ]:
df.loc[df['to_par'].str[:-1] == '-']

In [ ]:
df

In [ ]:
du.add_donkey_game_score(df)