In [1]:
import sqlite3
import pandas as pd

In [2]:
cd ..

/home/greenman225/Code/github/donkey_golf

In [3]:
from donkey_golf import data_utils as du

/home/greenman225/Code/virtual_envs/donkey_env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [ ]:
du.pull_available_players().head()

In [ ]:
	name
0	user
1	pre_tourney
2	rankings

In [8]:
du.run_sql("SELECT * FROM rankings WHERE player LIKE ('%Kim%')")

     current_rank  lw_rank  ly_rank                  player  events_played
0              55     61.0     61.0               Siwoo Kim             58
1             138    131.0    112.0         Ryuko Tokimatsu             54
2             194    190.0    133.0            Meenwhee Kim             59
3             204    203.0    162.0              Sihwan Kim             49
4             249    246.0    196.0               Kim Koivu             49
5             265    259.0    199.0        Joakim Lagergren             48
6             330    326.0    283.0             Michael Kim             54
7             346    340.0    272.0                K.T. Kim             49
8             352    347.0    288.0           Hyungsung Kim             55
9             355    350.0    287.0           Seunghyuk Kim             55
10            454    444.0    365.0   Minkyu Kim(March2001)             41
11            458    434.0    271.0                Chan Kim             24
12            546    540.0    464.0     Taewoo Kim(Feb1993)             36
13            740    736.0    680.0             Taehoon Kim             35
14            767    762.0    723.0             Junsung Kim             42
15            832    826.0    782.0           Nathan Kimsey             42
16            902    890.0    752.0             Woohyun Kim             36
17           1004    988.0    891.0            Hongtaek Kim             34
18           1018    996.0    815.0            Sengyong Kim             35
19           1030   1016.0    919.0                 Bio Kim             42
20           1148   1141.0   2006.0  Joohyung Kim(June2002)             10
21           1189   1178.0   1132.0               Jaeho Kim             34
22           1194   1180.0   1105.0             Bongsub Kim             37
23           1245   1221.0   1132.0            Byungjun Kim             38
24           1247   1236.0   1219.0            Dongkwan Kim             34
25           1262   1233.0   1043.0              Giwhan Kim             50
26           1307   1302.0   1281.0         Young-woong Kim             13
27           1352   1342.0   1342.0                Inho Kim             35
28           1386   1364.0   1257.0             Dongmin Kim             12
29           1407   1392.0   1349.0     Taewoo Kim(Jan1993)             37
..            ...      ...      ...                     ...            ...
96           2035   2022.0   2006.0              Namhun Kim             22
97           2035   2022.0   2006.0               Daeho Kim             19
98           2035   2022.0   2006.0          John Young Kim             13
99           2035   2022.0   2006.0           Justin YW Kim              2
100          2035   2022.0   2006.0              Geonha Kim             14
101          2035   2022.0   2006.0               Lucas Kim             14
102          2035   2022.0   2006.0             Daehwan Kim              2
103          2035   2022.0   2006.0        Minsu921 Kim 921             26
104          2035   2022.0   2006.0              Jihoon Kim              2
105          2035   2022.0   2006.0           Seongkeun Kim             16
106          2035   2022.0   2006.0              Jeewoo Kim             14
107          2035   2022.0   2006.0             Taeksoo Kim             10
108          2035   2022.0   2006.0        Hanbyeol Kim(Am)              2
109          2035   2022.0   2006.0           Hyeonseok Kim              2
110          2035   2022.0   2006.0  Junghun Kim (Oct-1995)              2
111          2035   2022.0   2006.0  Junghan Kim(June-1975)              6
112          2035   2022.0   2006.0              Youbin Kim              1
113          2035   2022.0   2006.0               Minho Kim              6
114          2035   2022.0   2006.0               Taeho Kim             13
115          2035   2022.0   2006.0         Joakim Wikstrom              1
116          2035   2022.0   2006.0   Junghun Kim(Jul-1990)              4
117          2035   2022.0   2006.0               Kiwon Kim              6
118          2035   2022.0   2006.0  Ilya Woods Yakimov(Am)              3
119          2035   2022.0   2006.0          Seonghyeon Kim              6
120          2035   2022.0   2006.0            Kyungsik Kim              7
121          2035   2022.0   2006.0  Seunghyun Kim(Nov1990)              8
122          2035   2022.0   2006.0            Hyunsang Kim              1
123          2035   2022.0   2006.0               Euiin Kim             10
124          2035   2022.0   2006.0             Suk Kim(Am)              1
125          2035   2022.0   2006.0    Minseok Kim(Nov1999)              4

[126 rows x 5 columns]

In [5]:
du.run_sql('SELECT * FROM pre_tourney LIMIT 5')

           player tee_time
0   Andrew Landry  8:30 AM
1       Adam Long  8:30 AM
2   Corey Conners  8:30 AM
3  Keith Mitchell  8:41 AM
4      Kevin Tway  8:41 AM

In [9]:
def pull_
sql = '''SELECT a.*, b.current_rank, b.events_played FROM pre_tourney a
LEFT JOIN rankings b ON a.player=b.player
ORDER BY current_rank
'''
du.run_sql(sql)

                  player  tee_time  current_rank  events_played
0    Kevin O'Connell (a)   8:52 AM           NaN            NaN
1      Takumi Kanaya (a)   9:14 AM           NaN            NaN
2             Si Woo Kim   9:25 AM           NaN            NaN
3     Viktor Hovland (a)  10:31 AM           NaN            NaN
4             Li Haotong  11:04 AM           NaN            NaN
5        Devon Bling (a)  11:37 AM           NaN            NaN
6    Jose Maria Olazabal  11:59 AM           NaN            NaN
7       Alvaro Ortiz (a)  12:10 PM           NaN            NaN
8        Alexander Noren  12:32 PM           NaN            NaN
9       Jovan Rebula (a)  12:43 PM           NaN            NaN
10  Rafael Cabrera Bello   1:16 PM           NaN            NaN
11           Justin Rose   1:49 PM           1.0           46.0
12        Dustin Johnson   1:38 PM           2.0           46.0
13          Rory McIlroy  11:15 AM           3.0           45.0
14         Brooks Koepka   2:00 PM           4.0           43.0
15         Justin Thomas   1:49 PM           5.0           47.0
16     Bryson DeChambeau   1:38 PM           6.0           56.0
17    Francesco Molinari   1:16 PM           7.0           47.0
18              Jon Rahm  11:04 AM           8.0           51.0
19         Rickie Fowler  11:15 AM           9.0           45.0
20     Xander Schauffele  10:53 AM          10.0           56.0
21            Paul Casey   2:00 PM          11.0           47.0
22           Tiger Woods  11:04 AM          12.0           25.0
23       Tommy Fleetwood  10:53 AM          13.0           57.0
24             Jason Day   1:38 PM          14.0           42.0
25            Tony Finau   9:58 AM          15.0           55.0
26           Matt Kuchar   1:05 PM          16.0           56.0
27          Bubba Watson   1:27 PM          17.0           46.0
28          Patrick Reed  10:31 AM          18.0           61.0
29      Louis Oosthuizen  10:42 AM          19.0           42.0
..                   ...       ...           ...            ...
57           Shane Lowry   8:52 AM          50.0           55.0
58      Thorbjorn Olesen  11:59 AM          53.0           50.0
59              Kevin Na  11:59 AM          54.0           50.0
60       Emiliano Grillo   9:36 AM          59.0           52.0
61        Keith Mitchell   8:41 AM          60.0           59.0
62       Charley Hoffman  10:42 AM          66.0           55.0
63            Aaron Wise   9:03 AM          67.0           51.0
64       Satoshi Kodaira   1:27 PM          68.0           63.0
65         Shugo Imahira  12:54 PM          77.0           55.0
66         Danny Willett   9:14 AM          78.0           47.0
67         Corey Conners   8:30 AM          84.0           63.0
68          Zach Johnson   1:05 PM          87.0           47.0
69          Stewart Cink  11:48 AM          96.0           49.0
70        Patton Kizzire  11:26 AM          97.0           56.0
71            Kevin Tway   8:41 AM          98.0           58.0
72          Jimmy Walker  11:48 AM         102.0           43.0
73      Charl Schwartzel   9:47 AM         104.0           51.0
74             Adam Long   8:30 AM         108.0           59.0
75         Andrew Landry   8:30 AM         128.0           56.0
76         Martin Kaymer  11:37 AM         190.0           52.0
77           Michael Kim  11:26 AM         330.0           54.0
78       Trevor Immelman  11:37 AM         461.0           27.0
79           Vijay Singh  12:43 PM         480.0           26.0
80       Bernhard Langer  12:10 PM         835.0            3.0
81          Fred Couples   9:25 AM        1330.0            3.0
82         Angel Cabrera   9:03 AM        1575.0           29.0
83             Mike Weir   8:52 AM        1765.0           27.0
84           Ian Woosnam   8:41 AM        2035.0            1.0
85            Sandy Lyle  11:26 AM        2035.0            3.0
86            Larry Mize  11:48 AM        2035.0            1.0

[87 rows x 4 columns]

In [ ]:
du.run_sql('SELECT * ')

In [ ]:
du.data_load_rankings()

In [ ]:
import data_utils as du

In [ ]:
du.pull_available_players()

In [ ]:
du.data_load_leaderboard()

In [ ]:
du.data_load_rankings()

In [ ]:
du.run_sql('SELECT * FROM pre_tourney')

In [ ]:
result = du.scrape_espn_leaderboard()

In [ ]:
du.load_table_to_db(result.get('pre_tourney'), 'pre_tourney')

In [ ]:
result.get('pre_tourney')

In [ ]:
# Creating leaderboard & rankings dataframes
leaderboard = pd.read_html('http://www.espn.com/golf/leaderboard',header=3)[0]

leaderboard.columns = leaderboard.columns.str.lower().str.replace(' ','_')

if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
if leaderboard.columns.tolist() == ['player', 'tee_time']:
    print("pre_tourney")

In [ ]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')

In [ ]:
pwd

In [ ]:
du.scrape_espn_leaderboard()

In [ ]:
du.data_load_leaderboard()

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)