In [1]:
import sqlite3
import pandas as pd

In [2]:
cd ..

/home/greenman225/Code/github/donkey_golf

In [3]:
from donkey_golf import data_utils as du

/home/greenman225/Code/virtual_envs/donkey_env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '
/home/greenman225/Code/github/donkey_golf/donkey_golf/data_utils.py:27: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  yaml_sql_dict = oyaml.load(open(conf.yaml_sql_loc))

In [4]:
du.determine_current_round()

'tourney_over'

In [7]:
du.pull_scoreboard()

   id username  donkey_score  missed_cut  player_left  rank final_rank
0   7    tiger           -48           0            0     1         T1
1   9     donk           -48           0            0     1         T1
2   6     jeff           -26           1            0     3          3
3   4      poo           -18           3            0     4          4
4   5     mike           -13           1            0     5          5

In [9]:
du.pull_tourney_leaderboard(4)

,pos,player,to_par,r1,r2,r3,r4,total_strokes,earnings,fedex_pts,tourney_id,thru,donkey_score,missed_cut,player_left,golfer,on_team
0,1,Tiger Woods,-13,70,68,67,70,275,"$2,070,000.00",600,401056527,F,-13,0,0,NaN,NaN
1,T2,Dustin Johnson,-12,68,70,70,68,276,"$858,667.00",230,401056527,F,-12,0,0,Dustin Johnson,Yes
2,T2,Dustin Johnson,-12,68,70,70,68,276,"$858,667.00",230,401056527,F,-12,0,0,Dustin Johnson,Yes
3,T2,Xander Schauffele,-12,73,65,70,68,276,"$858,667.00",230,401056527,F,-12,0,0,NaN,NaN
4,T2,Brooks Koepka,-12,66,71,69,70,276,"$858,667.00",230,401056527,F,-12,0,0,NaN,NaN
5,T5,Jason Day,-11,70,67,73,67,277,"$403,938.00",106,401056527,F,-11,0,0,NaN,NaN
6,T5,Webb Simpson,-11,72,71,64,70,277,"$403,938.00",106,401056527,F,-11,0,0,NaN,NaN
7,T5,Tony Finau,-11,71,70,64,72,277,"$403,938.00",106,401056527,F,-11,0,0,NaN,NaN
8,T5,Francesco Molinari,-11,70,67,66,74,277,"$403,938.00",106,401056527,F,-11,0,0,NaN,NaN
9,T9,Jon Rahm,-10,69,70,71,68,278,"$310,500.00",82,401056527,F,-10,0,0,NaN,NaN
10,T9,Patrick Cantlay,-10,73,73,64,68,278,"$310,500.00",82,401056527,F,-10,0,0,NaN,NaN
11,T9,Rickie Fowler,-10,70,71,68,69,278,"$310,500.00",82,401056527,F,-10,0,0,NaN,NaN
12,T12,Bubba Watson,-8,72,72,67,69,280,"$225,400.00",65,401056527,F,-8,0,0,NaN,NaN
13,T12,Justin Thomas,-8,73,68,69,70,280,"$225,400.00",65,401056527,F,-8,0,0,NaN,NaN
14,T12,Justin Harding,-8,69,69,70,72,280,"$225,400.00",0,401056527,F,-8,0,0,NaN,NaN
15,T12,Matt Kuchar,-8,71,69,68,72,280,"$225,400.00",65,401056527,F,-8,0,0,NaN,NaN
16,T12,Ian Poulter,-8,68,71,68,73,280,"$225,400.00",65,401056527,F,-8,0,0,NaN,NaN
17,17,Aaron Wise,-7,75,71,68,67,281,"$184,000.00",57,401056527,F,-7,0,0,NaN,NaN
18,T18,Patton Kizzire,-6,70,70,73,69,282,"$161,000.00",53,401056527,F,-6,0,0,NaN,NaN
19,T18,Phil Mickelson,-6,67,73,70,72,282,"$161,000.00",53,401056527,F,-6,0,0,NaN,NaN
20,T18,Adam Scott,-6,69,68,72,73,282,"$161,000.00",53,401056527,F,-6,0,0,NaN,NaN
21,T21,Si Woo Kim,-5,72,72,70,69,283,"$107,956.00",42,401056527,F,-5,0,0,Si Woo Kim,Yes
22,T21,Si Woo Kim,-5,72,72,70,69,283,"$107,956.00",42,401056527,F,-5,0,0,Si Woo Kim,Yes
23,T21,Kyle Stanley,-5,72,72,70,69,283,"$107,956.00",42,401056527,F,-5,0,0,NaN,NaN
24,T21,Matthew Fitzpatrick,-5,78,67,68,70,283,"$107,956.00",0,401056527,F,-5,0,0,NaN,NaN
25,T21,Kevin Kisner,-5,69,73,72,69,283,"$107,956.00",42,401056527,F,-5,0,0,NaN,NaN
26,T21,Rory McIlroy,-5,73,71,71,68,283,"$107,956.00",42,401056527,F,-5,0,0,Rory McIlroy,Yes
27,T21,Rory McIlroy,-5,73,71,71,68,283,"$107,956.00",42,401056527,F,-5,0,0,Rory McIlroy,Yes
28,T21,Jordan Spieth,-5,75,68,69,71,283,"$107,956.00",42,401056527,F,-5,0,0,NaN,NaN
29,T21,Lucas Bjerregaard,-5,70,72,69,72,283,"$107,956.00",0,401056527,F,-5,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,T58,Branden Grace,+5,72,75,72,74,293,"$26,335.00",6,401056527,F,5,0,0,NaN,NaN
63,T58,Zach Johnson,+5,74,73,73,73,293,"$26,335.00",6,401056527,F,5,0,0,NaN,NaN
64,61,Satoshi Kodaira,+6,75,70,73,76,294,"$25,990.00",5,401056527,F,6,0,0,NaN,NaN
65,T62,J.B. Holmes,+8,70,72,74,80,296,"$25,415.00",5,401056527,F,8,0,0,NaN,NaN
66,T62,Bernhard Langer,+8,71,72,75,78,296,"$25,415.00",5,401056527,F,8,0,0,NaN,NaN
67,T62,Emiliano Grillo,+8,72,75,73,76,296,"$25,415.00",5,401056527,F,8,0,0,NaN,NaN
68,T62,Alexander Noren,+8,75,72,75,74,296,"$25,415.00",5,401056527,F,8,0,0,NaN,NaN
69,-,Danny Willett,CUT,75,73,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
70,-,Kevin O'Connell (a),CUT,77,71,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
71,-,Sandy Lyle,CUT,73,75,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
72,-,Stewart Cink,CUT,76,72,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
73,-,Mike Weir,CUT,72,76,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
74,-,Sergio Garcia,CUT,73,75,--,--,148,--,0,401056527,F,9,1,0,NaN,NaN
75,-,Justin Rose,CUT,75,73,--,--,148,--,0,401056527,F,9,1,0,Justin Rose,Yes
76,-,Justin Rose,CUT,75,73,--,--,148,--,0,401056527,F,9,1,0,Justin Rose,Yes
77,-,Adam Long,CUT,75,74,--,--,149,--,0,401056527,F,9,1,0,NaN,NaN
78,-,Brandt Snedeker,CUT,75,74,--,--,149,--,0,401056527,F,9,1,0,NaN,NaN
79,-,Charl Schwartzel,CUT,77,72,--,--,149,--,0,401056527,F,9,1,0,NaN,NaN
80,-,Fred Couples,CUT,78,71,--,--,149,--,0,401056527,F,9,1,0,NaN,NaN
81,-,Shugo Imahira,CUT,76,74,--,--,150,--,0,401056527,F,9,1,0,NaN,NaN
82,-,Shane Lowry,CUT,78,73,--,--,151,--,0,401056527,F,9,1,0,NaN,NaN
83,-,Larry Mize,CUT,77,74,--,--,151,--,0,401056527,F,9,1,0,NaN,NaN
84,-,Jovan Rebula (a),CUT,73,79,--,--,152,--,0,401056527,F,9,1,0,NaN,NaN
85,-,Matt Wallace,CUT,75,77,--,--,152,--,0,401056527,F,9,1,0,NaN,NaN
86,-,Michael Kim,CUT,76,78,--,--,154,--,0,401056527,F,9,1,0,NaN,NaN
87,-,Paul Casey,CUT,81,73,--,--,154,--,0,401056527,F,9,1,0,NaN,NaN
88,-,Ian Woosnam,CUT,80,76,--,--,156,--,0,401056527,F,9,1,0,NaN,NaN
89,-,Vijay Singh,CUT,80,76,--,--,156,--,0,401056527,F,9,1,0,NaN,NaN
90,-,Jose Maria Olazabal,CUT,78,79,--,--,157,--,0,401056527,F,9,1,0,Jose Maria Olazabal,Yes
91,-,Angel Cabrera,CUT,82,75,--,--,157,--,0,401056527,F,9,1,0,NaN,NaN

In [ ]:
du.data_load_leaderboard()

In [ ]:
df = du.pull_tourney_leaderboard()

In [ ]:
du.aggregate_team_metrics()

In [ ]:
du.aggregate_team_metrics()

In [ ]:
du.data_load_leaderboard()

In [ ]:
du.calculate_cut_line()

In [ ]:
du.pull_scoreboard()

In [ ]:
du.pull_tourney_leaderboard()

In [ ]:
du.data_load_leaderboard()

In [ ]:
df = du.scrape_espn_leaderboard()['tourney_final']

In [ ]:
df.loc[df['to_par'] == 'E', 'donkey_score'] = 0
df.loc[df['to_par'].str[0:1] == '+', 'donkey_score'] = df['to_par'].str[1:]
df.loc[df['to_par'].str[0:1] == '-', 'donkey_score'] = df['to_par']

In [ ]:
df

In [ ]:
score = df.loc[df['donkey_score'].notnull(), 'donkey_score'].astype(int).max()

In [ ]:
score

In [ ]:
df.loc[df['donkey_score'].isnull(), 'donkey_score']

In [ ]:
df['donkey_score'].fillna(-999).astype(int).max()

In [ ]:
df['to_par'].str[:1]

In [ ]:
df.loc[df['to_par'].str[:-1] == '-']

In [ ]:
df

In [ ]:
du.add_donkey_game_score(df)