In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1  pre_tourney
2     rankings

In [ ]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT * FROM pre_tourney', conn)

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
pd.read_sql('SELECT * from pre_tourney', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)