In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1  pre_tourney
2     rankings
3        teams

In [6]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT * FROM teams', conn)

    id        tourney_id               golfer
0    4  2748486273828282          Justin Rose
1    4  2748486273828282       Dustin Johnson
2    4  2748486273828282         Rory McIlroy
3    4  2748486273828282    Takumi Kanaya (a)
4    4  2748486273828282           Si Woo Kim
5    4  2748486273828282   Viktor Hovland (a)
6    4         401056527          Justin Rose
7    4         401056527       Dustin Johnson
8    4         401056527         Rory McIlroy
9    4         401056527           Si Woo Kim
10   4         401056527   Viktor Hovland (a)
11   4         401056527  Jose Maria Olazabal
12   5         401056527   Francesco Molinari
13   5         401056527    Xander Schauffele
14   5         401056527           Paul Casey
15   5         401056527    Takumi Kanaya (a)
16   5         401056527   Viktor Hovland (a)
17   5         401056527           Li Haotong
18   6         401056527          Justin Rose
19   6         401056527       Dustin Johnson
20   6         401056527         Rory McIlroy
21   6         401056527           Si Woo Kim
22   6         401056527      Tommy Fleetwood
23   6         401056527            Jason Day

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
pd.read_sql('SELECT * from pre_tourney', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)