In [2]:
import sqlite3
import pandas as pd

In [7]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1  pre_tourney
2     rankings
3        teams

In [10]:
pd.read_sql("SELECT * FROM rankings where player like ('%kim%')", conn)

     current_rank  lw_rank  ly_rank                  player  events_played
0              55     61.0     61.0               Siwoo Kim             58
1             138    131.0    112.0         Ryuko Tokimatsu             54
2             194    190.0    133.0            Meenwhee Kim             59
3             204    203.0    162.0              Sihwan Kim             49
4             249    246.0    196.0               Kim Koivu             49
5             265    259.0    199.0        Joakim Lagergren             48
6             330    326.0    283.0             Michael Kim             54
7             346    340.0    272.0                K.T. Kim             49
8             352    347.0    288.0           Hyungsung Kim             55
9             355    350.0    287.0           Seunghyuk Kim             55
10            454    444.0    365.0   Minkyu Kim(March2001)             41
11            458    434.0    271.0                Chan Kim             24
12            546    540.0    464.0     Taewoo Kim(Feb1993)             36
13            740    736.0    680.0             Taehoon Kim             35
14            767    762.0    723.0             Junsung Kim             42
15            832    826.0    782.0           Nathan Kimsey             42
16            902    890.0    752.0             Woohyun Kim             36
17           1004    988.0    891.0            Hongtaek Kim             34
18           1018    996.0    815.0            Sengyong Kim             35
19           1030   1016.0    919.0                 Bio Kim             42
20           1148   1141.0   2006.0  Joohyung Kim(June2002)             10
21           1189   1178.0   1132.0               Jaeho Kim             34
22           1194   1180.0   1105.0             Bongsub Kim             37
23           1245   1221.0   1132.0            Byungjun Kim             38
24           1247   1236.0   1219.0            Dongkwan Kim             34
25           1262   1233.0   1043.0              Giwhan Kim             50
26           1307   1302.0   1281.0         Young-woong Kim             13
27           1352   1342.0   1342.0                Inho Kim             35
28           1386   1364.0   1257.0             Dongmin Kim             12
29           1407   1392.0   1349.0     Taewoo Kim(Jan1993)             37
..            ...      ...      ...                     ...            ...
96           2035   2022.0   2006.0              Namhun Kim             22
97           2035   2022.0   2006.0               Daeho Kim             19
98           2035   2022.0   2006.0          John Young Kim             13
99           2035   2022.0   2006.0           Justin YW Kim              2
100          2035   2022.0   2006.0              Geonha Kim             14
101          2035   2022.0   2006.0               Lucas Kim             14
102          2035   2022.0   2006.0             Daehwan Kim              2
103          2035   2022.0   2006.0        Minsu921 Kim 921             26
104          2035   2022.0   2006.0              Jihoon Kim              2
105          2035   2022.0   2006.0           Seongkeun Kim             16
106          2035   2022.0   2006.0              Jeewoo Kim             14
107          2035   2022.0   2006.0             Taeksoo Kim             10
108          2035   2022.0   2006.0        Hanbyeol Kim(Am)              2
109          2035   2022.0   2006.0           Hyeonseok Kim              2
110          2035   2022.0   2006.0  Junghun Kim (Oct-1995)              2
111          2035   2022.0   2006.0  Junghan Kim(June-1975)              6
112          2035   2022.0   2006.0              Youbin Kim              1
113          2035   2022.0   2006.0               Minho Kim              6
114          2035   2022.0   2006.0               Taeho Kim             13
115          2035   2022.0   2006.0         Joakim Wikstrom              1
116          2035   2022.0   2006.0   Junghun Kim(Jul-1990)              4
117          2035   2022.0   2006.0               Kiwon Kim              6
118          2035   2022.0   2006.0  Ilya Woods Yakimov(Am)              3
119          2035   2022.0   2006.0          Seonghyeon Kim              6
120          2035   2022.0   2006.0            Kyungsik Kim              7
121          2035   2022.0   2006.0  Seunghyun Kim(Nov1990)              8
122          2035   2022.0   2006.0            Hyunsang Kim              1
123          2035   2022.0   2006.0               Euiin Kim             10
124          2035   2022.0   2006.0             Suk Kim(Am)              1
125          2035   2022.0   2006.0    Minseok Kim(Nov1999)              4

[126 rows x 5 columns]

# Show all tables in our database

In [21]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1        teams
2     rankings
3  pre_tourney
4  leaderboard

In [25]:
pd.read_sql("SELECT * from teams", conn)

    id        tourney_id               golfer
0    4  2748486273828282          Justin Rose
1    4  2748486273828282       Dustin Johnson
2    4  2748486273828282         Rory McIlroy
3    4  2748486273828282    Takumi Kanaya (a)
4    4  2748486273828282           Si Woo Kim
5    4  2748486273828282   Viktor Hovland (a)
6    4         401056527          Justin Rose
7    4         401056527       Dustin Johnson
8    4         401056527         Rory McIlroy
9    4         401056527           Si Woo Kim
10   4         401056527   Viktor Hovland (a)
11   4         401056527  Jose Maria Olazabal
12   5         401056527   Francesco Molinari
13   5         401056527    Xander Schauffele
14   5         401056527           Paul Casey
15   5         401056527    Takumi Kanaya (a)
16   5         401056527   Viktor Hovland (a)
17   5         401056527           Li Haotong
18   6         401056527          Justin Rose
19   6         401056527       Dustin Johnson
20   6         401056527         Rory McIlroy
21   6         401056527           Si Woo Kim
22   6         401056527      Tommy Fleetwood
23   6         401056527            Jason Day

In [24]:
pd.read_sql('SELECT * from leaderboard', conn)

,pos,player,to_par,thru,r1,r2,r3,r4,total_strokes,tourney_id
0,T1,Corey Conners,E,1,--,--,--,--,--,401056527
1,T1,Keith Mitchell,E,1,--,--,--,--,--,401056527
2,T1,Kevin Tway,E,1,--,--,--,--,--,401056527
3,T1,Ian Woosnam,E,1,--,--,--,--,--,401056527
4,T5,Andrew Landry,+1,1,--,--,--,--,--,401056527
5,T5,Adam Long,+1,1,--,--,--,--,--,401056527
6,-,Kevin O'Connell (a),E,8:52 AM,--,--,--,--,--,401056527
7,-,Shane Lowry,E,8:52 AM,--,--,--,--,--,401056527
8,-,Mike Weir,E,8:52 AM,--,--,--,--,--,401056527
9,-,Angel Cabrera,E,9:03 AM,--,--,--,--,--,401056527
10,-,Justin Harding,E,9:03 AM,--,--,--,--,--,401056527
11,-,Aaron Wise,E,9:03 AM,--,--,--,--,--,401056527
12,-,Takumi Kanaya (a),E,9:14 AM,--,--,--,--,--,401056527
13,-,Danny Willett,E,9:14 AM,--,--,--,--,--,401056527
14,-,Brandt Snedeker,E,9:14 AM,--,--,--,--,--,401056527
15,-,J.B. Holmes,E,9:25 AM,--,--,--,--,--,401056527
16,-,Fred Couples,E,9:25 AM,--,--,--,--,--,401056527
17,-,Si Woo Kim,E,9:25 AM,--,--,--,--,--,401056527
18,-,Lucas Bjerregaard,E,9:36 AM,--,--,--,--,--,401056527
19,-,Branden Grace,E,9:36 AM,--,--,--,--,--,401056527
20,-,Emiliano Grillo,E,9:36 AM,--,--,--,--,--,401056527
21,-,Charles Howell III,E,9:47 AM,--,--,--,--,--,401056527
22,-,Charl Schwartzel,E,9:47 AM,--,--,--,--,--,401056527
23,-,Eddie Pepperell,E,9:47 AM,--,--,--,--,--,401056527
24,-,Henrik Stenson,E,9:58 AM,--,--,--,--,--,401056527
25,-,Tony Finau,E,9:58 AM,--,--,--,--,--,401056527
26,-,Sergio Garcia,E,9:58 AM,--,--,--,--,--,401056527
27,-,Adam Scott,E,10:09 AM,--,--,--,--,--,401056527
28,-,Hideki Matsuyama,E,10:09 AM,--,--,--,--,--,401056527
29,-,Kyle Stanley,E,10:09 AM,--,--,--,--,--,401056527
...,...,...,...,...,...,...,...,...,...,...
57,-,Bernhard Langer,E,12:10 PM,--,--,--,--,--,401056527
58,-,Alvaro Ortiz (a),E,12:10 PM,--,--,--,--,--,401056527
59,-,Matt Wallace,E,12:10 PM,--,--,--,--,--,401056527
60,-,Keegan Bradley,E,12:32 PM,--,--,--,--,--,401056527
61,-,Alexander Noren,E,12:32 PM,--,--,--,--,--,401056527
62,-,Matthew Fitzpatrick,E,12:32 PM,--,--,--,--,--,401056527
63,-,Vijay Singh,E,12:43 PM,--,--,--,--,--,401056527
64,-,Billy Horschel,E,12:43 PM,--,--,--,--,--,401056527
65,-,Jovan Rebula (a),E,12:43 PM,--,--,--,--,--,401056527
66,-,Shugo Imahira,E,12:54 PM,--,--,--,--,--,401056527
67,-,Kevin Kisner,E,12:54 PM,--,--,--,--,--,401056527
68,-,Kiradech Aphibarnrat,E,12:54 PM,--,--,--,--,--,401056527
69,-,Ian Poulter,E,1:05 PM,--,--,--,--,--,401056527
70,-,Zach Johnson,E,1:05 PM,--,--,--,--,--,401056527
71,-,Matt Kuchar,E,1:05 PM,--,--,--,--,--,401056527
72,-,Francesco Molinari,E,1:16 PM,--,--,--,--,--,401056527
73,-,Tyrrell Hatton,E,1:16 PM,--,--,--,--,--,401056527
74,-,Rafael Cabrera Bello,E,1:16 PM,--,--,--,--,--,401056527
75,-,Satoshi Kodaira,E,1:27 PM,--,--,--,--,--,401056527
76,-,Patrick Cantlay,E,1:27 PM,--,--,--,--,--,401056527
77,-,Bubba Watson,E,1:27 PM,--,--,--,--,--,401056527
78,-,Jason Day,E,1:38 PM,--,--,--,--,--,401056527
79,-,Dustin Johnson,E,1:38 PM,--,--,--,--,--,401056527
80,-,Bryson DeChambeau,E,1:38 PM,--,--,--,--,--,401056527
81,-,Justin Rose,E,1:49 PM,--,--,--,--,--,401056527
82,-,Phil Mickelson,E,1:49 PM,--,--,--,--,--,401056527
83,-,Justin Thomas,E,1:49 PM,--,--,--,--,--,401056527
84,-,Jordan Spieth,E,2:00 PM,--,--,--,--,--,401056527
85,-,Paul Casey,E,2:00 PM,--,--,--,--,--,401056527
86,-,Brooks Koepka,E,2:00 PM,--,--,--,--,--,401056527

In [13]:
pd.read_sql('SELECT * from user', conn)

,id,username,email,image_file,password
0,1,first,first@gmail.com,default.jpg,$2b$12$lSacOaPVQw.7JehaPITbSuoUQQHHAzKPrJr9TqH...
1,2,yay,yay@cnn.com,default.jpg,$2b$12$EV2XxOPjCd/GGomJwunxbeaXhib6o4foacxZbAb...
2,3,sumbeech,sumbeech@noneya.com,default.jpg,$2b$12$BRc0.f8qj/.WxwEwhFxOouIIliJjdGFV409tk93...
3,4,poo,poo@poo.com,default.jpg,$2b$12$HLtdo2x2ANCNd96RadWEbektz6QDkqa9c1S1HZi...
4,5,mike,mike@mike.com,default.jpg,$2b$12$mfwZfbokGzgQ3unzRHKVZuswT3xYpPShXb.24PR...
5,6,jeff,jeff@jeff.com,default.jpg,$2b$12$FE3Knp/WrAVizzvitw0jq.3PoElW.iVtRgXuDzT...