In [2]:
import sqlite3
import pandas as pd

In [7]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1  pre_tourney
2     rankings
3        teams

In [10]:
pd.read_sql("SELECT * FROM rankings where player like ('%kim%')", conn)

     current_rank  lw_rank  ly_rank                  player  events_played
0              55     61.0     61.0               Siwoo Kim             58
1             138    131.0    112.0         Ryuko Tokimatsu             54
2             194    190.0    133.0            Meenwhee Kim             59
3             204    203.0    162.0              Sihwan Kim             49
4             249    246.0    196.0               Kim Koivu             49
5             265    259.0    199.0        Joakim Lagergren             48
6             330    326.0    283.0             Michael Kim             54
7             346    340.0    272.0                K.T. Kim             49
8             352    347.0    288.0           Hyungsung Kim             55
9             355    350.0    287.0           Seunghyuk Kim             55
10            454    444.0    365.0   Minkyu Kim(March2001)             41
11            458    434.0    271.0                Chan Kim             24
12            546    540.0    464.0     Taewoo Kim(Feb1993)             36
13            740    736.0    680.0             Taehoon Kim             35
14            767    762.0    723.0             Junsung Kim             42
15            832    826.0    782.0           Nathan Kimsey             42
16            902    890.0    752.0             Woohyun Kim             36
17           1004    988.0    891.0            Hongtaek Kim             34
18           1018    996.0    815.0            Sengyong Kim             35
19           1030   1016.0    919.0                 Bio Kim             42
20           1148   1141.0   2006.0  Joohyung Kim(June2002)             10
21           1189   1178.0   1132.0               Jaeho Kim             34
22           1194   1180.0   1105.0             Bongsub Kim             37
23           1245   1221.0   1132.0            Byungjun Kim             38
24           1247   1236.0   1219.0            Dongkwan Kim             34
25           1262   1233.0   1043.0              Giwhan Kim             50
26           1307   1302.0   1281.0         Young-woong Kim             13
27           1352   1342.0   1342.0                Inho Kim             35
28           1386   1364.0   1257.0             Dongmin Kim             12
29           1407   1392.0   1349.0     Taewoo Kim(Jan1993)             37
..            ...      ...      ...                     ...            ...
96           2035   2022.0   2006.0              Namhun Kim             22
97           2035   2022.0   2006.0               Daeho Kim             19
98           2035   2022.0   2006.0          John Young Kim             13
99           2035   2022.0   2006.0           Justin YW Kim              2
100          2035   2022.0   2006.0              Geonha Kim             14
101          2035   2022.0   2006.0               Lucas Kim             14
102          2035   2022.0   2006.0             Daehwan Kim              2
103          2035   2022.0   2006.0        Minsu921 Kim 921             26
104          2035   2022.0   2006.0              Jihoon Kim              2
105          2035   2022.0   2006.0           Seongkeun Kim             16
106          2035   2022.0   2006.0              Jeewoo Kim             14
107          2035   2022.0   2006.0             Taeksoo Kim             10
108          2035   2022.0   2006.0        Hanbyeol Kim(Am)              2
109          2035   2022.0   2006.0           Hyeonseok Kim              2
110          2035   2022.0   2006.0  Junghun Kim (Oct-1995)              2
111          2035   2022.0   2006.0  Junghan Kim(June-1975)              6
112          2035   2022.0   2006.0              Youbin Kim              1
113          2035   2022.0   2006.0               Minho Kim              6
114          2035   2022.0   2006.0               Taeho Kim             13
115          2035   2022.0   2006.0         Joakim Wikstrom              1
116          2035   2022.0   2006.0   Junghun Kim(Jul-1990)              4
117          2035   2022.0   2006.0               Kiwon Kim              6
118          2035   2022.0   2006.0  Ilya Woods Yakimov(Am)              3
119          2035   2022.0   2006.0          Seonghyeon Kim              6
120          2035   2022.0   2006.0            Kyungsik Kim              7
121          2035   2022.0   2006.0  Seunghyun Kim(Nov1990)              8
122          2035   2022.0   2006.0            Hyunsang Kim              1
123          2035   2022.0   2006.0               Euiin Kim             10
124          2035   2022.0   2006.0             Suk Kim(Am)              1
125          2035   2022.0   2006.0    Minseok Kim(Nov1999)              4

[126 rows x 5 columns]

# Show all tables in our database

In [11]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

          name
0         user
1  pre_tourney
2     rankings
3        teams

In [20]:
pd.read_sql("SELECT * from rankings where player like ('%Haotong%')", conn)

,current_rank,lw_rank,ly_rank,player_raw,events_played,player_cleaned,player
0,39,38.0,42.0,Haotong Li,56,None,Haotong Li

In [13]:
pd.read_sql('SELECT * from user', conn)

,id,username,email,image_file,password
0,1,first,first@gmail.com,default.jpg,$2b$12$lSacOaPVQw.7JehaPITbSuoUQQHHAzKPrJr9TqH...
1,2,yay,yay@cnn.com,default.jpg,$2b$12$EV2XxOPjCd/GGomJwunxbeaXhib6o4foacxZbAb...
2,3,sumbeech,sumbeech@noneya.com,default.jpg,$2b$12$BRc0.f8qj/.WxwEwhFxOouIIliJjdGFV409tk93...
3,4,poo,poo@poo.com,default.jpg,$2b$12$HLtdo2x2ANCNd96RadWEbektz6QDkqa9c1S1HZi...
4,5,mike,mike@mike.com,default.jpg,$2b$12$mfwZfbokGzgQ3unzRHKVZuswT3xYpPShXb.24PR...
5,6,jeff,jeff@jeff.com,default.jpg,$2b$12$FE3Knp/WrAVizzvitw0jq.3PoElW.iVtRgXuDzT...