In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('/home/greenman225/Code/github/donkey_golf/donkey_golf/site.db')
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

                name
0               user
1              teams
2           rankings
3        pre_tourney
4  leaderboard_final
5        leaderboard

In [4]:
sql = """
SELECT * FROm leaderboard
"""
pd.read_sql(sql, conn)

,pos,player,to_par,r1,r2,r3,r4,total_strokes,earnings,fedex_pts,tourney_id,thru,donkey_score,missed_cut,player_left
0,1,Tiger Woods,-13,70,68,67,70,275,"$2,070,000.00",600,401056527,F,-13,0,0
1,T2,Dustin Johnson,-12,68,70,70,68,276,"$858,667.00",230,401056527,F,-12,0,0
2,T2,Xander Schauffele,-12,73,65,70,68,276,"$858,667.00",230,401056527,F,-12,0,0
3,T2,Brooks Koepka,-12,66,71,69,70,276,"$858,667.00",230,401056527,F,-12,0,0
4,T5,Jason Day,-11,70,67,73,67,277,"$403,938.00",106,401056527,F,-11,0,0
5,T5,Webb Simpson,-11,72,71,64,70,277,"$403,938.00",106,401056527,F,-11,0,0
6,T5,Tony Finau,-11,71,70,64,72,277,"$403,938.00",106,401056527,F,-11,0,0
7,T5,Francesco Molinari,-11,70,67,66,74,277,"$403,938.00",106,401056527,F,-11,0,0
8,T9,Jon Rahm,-10,69,70,71,68,278,"$310,500.00",82,401056527,F,-10,0,0
9,T9,Patrick Cantlay,-10,73,73,64,68,278,"$310,500.00",82,401056527,F,-10,0,0
10,T9,Rickie Fowler,-10,70,71,68,69,278,"$310,500.00",82,401056527,F,-10,0,0
11,T12,Bubba Watson,-8,72,72,67,69,280,"$225,400.00",65,401056527,F,-8,0,0
12,T12,Justin Thomas,-8,73,68,69,70,280,"$225,400.00",65,401056527,F,-8,0,0
13,T12,Justin Harding,-8,69,69,70,72,280,"$225,400.00",0,401056527,F,-8,0,0
14,T12,Matt Kuchar,-8,71,69,68,72,280,"$225,400.00",65,401056527,F,-8,0,0
15,T12,Ian Poulter,-8,68,71,68,73,280,"$225,400.00",65,401056527,F,-8,0,0
16,17,Aaron Wise,-7,75,71,68,67,281,"$184,000.00",57,401056527,F,-7,0,0
17,T18,Patton Kizzire,-6,70,70,73,69,282,"$161,000.00",53,401056527,F,-6,0,0
18,T18,Phil Mickelson,-6,67,73,70,72,282,"$161,000.00",53,401056527,F,-6,0,0
19,T18,Adam Scott,-6,69,68,72,73,282,"$161,000.00",53,401056527,F,-6,0,0
20,T21,Si Woo Kim,-5,72,72,70,69,283,"$107,956.00",42,401056527,F,-5,0,0
21,T21,Kyle Stanley,-5,72,72,70,69,283,"$107,956.00",42,401056527,F,-5,0,0
22,T21,Matthew Fitzpatrick,-5,78,67,68,70,283,"$107,956.00",0,401056527,F,-5,0,0
23,T21,Kevin Kisner,-5,69,73,72,69,283,"$107,956.00",42,401056527,F,-5,0,0
24,T21,Rory McIlroy,-5,73,71,71,68,283,"$107,956.00",42,401056527,F,-5,0,0
25,T21,Jordan Spieth,-5,75,68,69,71,283,"$107,956.00",42,401056527,F,-5,0,0
26,T21,Lucas Bjerregaard,-5,70,72,69,72,283,"$107,956.00",0,401056527,F,-5,0,0
27,T21,Thorbjorn Olesen,-5,71,71,68,73,283,"$107,956.00",0,401056527,F,-5,0,0
28,T29,Charley Hoffman,-4,71,71,72,70,284,"$78,200.00",32,401056527,F,-4,0,0
29,T29,Bryson DeChambeau,-4,66,75,73,70,284,"$78,200.00",32,401056527,F,-4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,T58,Takumi Kanaya (a),+5,73,74,68,78,293,--,0,401056527,F,5,0,0
58,T58,Branden Grace,+5,72,75,72,74,293,"$26,335.00",6,401056527,F,5,0,0
59,T58,Zach Johnson,+5,74,73,73,73,293,"$26,335.00",6,401056527,F,5,0,0
60,61,Satoshi Kodaira,+6,75,70,73,76,294,"$25,990.00",5,401056527,F,6,0,0
61,T62,J.B. Holmes,+8,70,72,74,80,296,"$25,415.00",5,401056527,F,8,0,0
62,T62,Bernhard Langer,+8,71,72,75,78,296,"$25,415.00",5,401056527,F,8,0,0
63,T62,Emiliano Grillo,+8,72,75,73,76,296,"$25,415.00",5,401056527,F,8,0,0
64,T62,Alexander Noren,+8,75,72,75,74,296,"$25,415.00",5,401056527,F,8,0,0
65,-,Danny Willett,CUT,75,73,--,--,148,--,0,401056527,F,9,1,0
66,-,Kevin O'Connell (a),CUT,77,71,--,--,148,--,0,401056527,F,9,1,0
67,-,Sandy Lyle,CUT,73,75,--,--,148,--,0,401056527,F,9,1,0
68,-,Stewart Cink,CUT,76,72,--,--,148,--,0,401056527,F,9,1,0
69,-,Mike Weir,CUT,72,76,--,--,148,--,0,401056527,F,9,1,0
70,-,Sergio Garcia,CUT,73,75,--,--,148,--,0,401056527,F,9,1,0
71,-,Justin Rose,CUT,75,73,--,--,148,--,0,401056527,F,9,1,0
72,-,Adam Long,CUT,75,74,--,--,149,--,0,401056527,F,9,1,0
73,-,Brandt Snedeker,CUT,75,74,--,--,149,--,0,401056527,F,9,1,0
74,-,Charl Schwartzel,CUT,77,72,--,--,149,--,0,401056527,F,9,1,0
75,-,Fred Couples,CUT,78,71,--,--,149,--,0,401056527,F,9,1,0
76,-,Shugo Imahira,CUT,76,74,--,--,150,--,0,401056527,F,9,1,0
77,-,Shane Lowry,CUT,78,73,--,--,151,--,0,401056527,F,9,1,0
78,-,Larry Mize,CUT,77,74,--,--,151,--,0,401056527,F,9,1,0
79,-,Jovan Rebula (a),CUT,73,79,--,--,152,--,0,401056527,F,9,1,0
80,-,Matt Wallace,CUT,75,77,--,--,152,--,0,401056527,F,9,1,0
81,-,Michael Kim,CUT,76,78,--,--,154,--,0,401056527,F,9,1,0
82,-,Paul Casey,CUT,81,73,--,--,154,--,0,401056527,F,9,1,0
83,-,Ian Woosnam,CUT,80,76,--,--,156,--,0,401056527,F,9,1,0
84,-,Vijay Singh,CUT,80,76,--,--,156,--,0,401056527,F,9,1,0
85,-,Jose Maria Olazabal,CUT,78,79,--,--,157,--,0,401056527,F,9,1,0
86,-,Angel Cabrera,CUT,82,75,--,--,157,--,0,401056527,F,9,1,0

In [ ]:
sql = """
SELECT c.id, c.username, b.* FROM teams a
    LEFT JOIN leaderboard b
    ON a.golfer=b.player
    LEFT JOIN user c
    ON a.id=c.id
    LIMIT 10
"""
pd.read_sql(sql, conn)

In [ ]:
sql = """
SELECT a.id, c.username, sum(b.donkey_score) as donkey_score,
sum(b.missed_cut) as missed_cut 
FROM teams a
    LEFT JOIN leaderboard b
    ON a.golfer=b.player
    LEFT JOIN user c
    ON a.id=c.id
GROUP BY 1,2
"""
pd.read_sql(sql, conn)

In [ ]:
sql = """
SELECT * FROM teams
"""
pd.read_sql(sql, conn)

In [ ]:
user_df = pd.read_sql(sql, conn)

In [ ]:
user_df

In [ ]:
def aggregate_team_score():
    '''
    Pull each users aggregate score for the current tourney
    '''
    
    sql = """
    SELECT c.id, c.username, b.* FROM teams a
    LEFT JOIN leaderboard b 
    ON a.golfer=b.player
    LEFT JOIN user c 
    ON a.id=c.id
    """

    df = pd.read_sql(sql, conn)

    # Convert to par field to an integer so we can aggregate
    df['user_score'] = df['to_par'].str.replace('+','').str.replace('E','0')
    df['user_score'] = df['user_score'].astype(int)

    # Get an overall score for each user
    team_score_df = df.groupby(['id','username'])['user_score'].sum().reset_index()
    team_score_df.sort_values('user_score', inplace=True)
    
    team_score_df['rank'] = team_score_df['user_score'].rank(ascending=True, method='min').astype(int)

    return team_score_df

def determine_ties_in_scoreboard(df):
    '''
    Takes a scoreboard df and determines rank and handles ties
    '''
    df_ties = df.copy()

    # Need to create a better rank that handles ties
    df_ties['new_rank'] = df_ties['rank'].copy()

    df_ties = df_ties.groupby(['rank'])['id'].count().reset_index()
    df_ties.loc[df_ties['id'] > 1, 'new_rank'] = "T" 

    df_ties.loc[df_ties['new_rank'].notnull(), 'final_rank'] = 'T' + df_ties['rank'].astype(str)
    df_ties.loc[df_ties['new_rank'].isnull(), 'final_rank'] = df_ties['rank'].astype(str)
    
    return df_ties[['rank','final_rank']]

def pull_scoreboard():
    '''
    Pulls aggregate game score and then adds in tie info
    '''
    df = pull_game_score()
    tie_df = determine_ties_in_scoreboard(df)
    
    df = df.merge(tie_df,
        how='left',
        on='rank')
    
    return df

In [ ]:
df = pull_game_score()

In [ ]:
pull_scoreboard()

In [ ]:
df.merge(tie_df,
        how='left',
        on='rank')

In [ ]:
df_ties

In [ ]:

#+ df_ties.loc[df_ties['id'] > 1, 'rank'].astype(str)
#df_ties = df_ties[['rank', 'new_rank']].copy()

In [ ]:
df_ties

In [ ]:
df_ties.loc[df_ties['new_rank'].notnull(), 'final_rank'] = 'T' + df_ties['rank'].astype(str)

df_ties.loc[df_ties['new_rank'].isnull(), 'final_rank'] = df_ties['rank'].astype(str)

In [ ]:
df_ties

In [ ]:
df

In [ ]:
pd.read_sql("SELECT * FROM leaderboard", conn)

# Show all tables in our database

In [ ]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type = "table"', conn)

In [ ]:
user_id=6
sql = f"""
SELECT * from teams a
INNER JOIN leaderboard b
    ON a.golfer = b.player
WHERE id = {user_id}    
"""
pd.read_sql(sql, conn)

In [ ]:
pd.read_sql('SELECT * from leaderboard', conn)

In [ ]:
pd.read_sql('SELECT * from user', conn)